body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    /* height: 300px; */
    height: 100%;
    width: 100%;
}

#divContainer{
    margin-left:0;
    margin-right:auto;
    height: 800px;
    width: 500px;
}

#divSearchMode{
    position:relative;
    top:0;
    right:0;
}

#divRegion{
    position:relative;
    top:0;
    right:0;
}

.container {
    width: 500px;
    border: 1px solid blue; 
    padding: 4px;
    margin: 4px;
}
.row {
    text-align: center;
}
.btn {
    display: inline-block;
    margin-right: 6px;
    background-color: #EEE;
}


.leaflet-tile-pane {
    z-index: 2 !important;
}

.leaflet-overlay-layer {
    z-index: 1 !important;
}